<h1>All Users</h1>
<ul>
<% @users.each do |user| %>
  <% if user != current_user %>
  <li> <%= link_to user.username, user %>
       <% if current_user.is_friends?(user) %>
         You are friends! :)
       <% elsif current_user.friend_requested?(user) %>
         Friend request pending
       <% else %>

       <%= simple_form_for @friend_request do |f| %>
         <%= f.input :requestee_id, :as => :hidden, :input_html => { :value => user.id } %>
         <%= f.button :submit %>
       <% end %>

       <% end %>
  <% end %>
<% end %>
</ul>
