<h1> Test Page </h1>

<p> This person:
<%= @friend_request.requestor.username %>
</p>
<br>
<p> Send this person:
<%= @friend_request.requestee.username %> </p>
 <br>
 <p>a request </p>
 <br>
 <p> is is accepted? <%= @friend_request.accepted %> </p
